__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.whl
*.env
*.venv
*.pytest_cache/
*.mypy_cache/

*.psm1
*.log
*.zip

.vscode/
.history/

.idea/
*.iml
*.iws

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*.tmp
*.temp
*.swp
